#checkbox {
  background: none;
  border: none;
  cursor: pointer;
}

.list-card {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  padding: 10px;
  background-color: darkcyan;
  color: white;
  font-family: roboto;
  border-radius: 10px;
}

.list-card-data-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  align-items: center;
  margin-left: 10px;
  width: 100%;
}

.list-card-data-container div {
  width: 100px;
  text-align: center;
}