#sidebar-toggle {
  padding: 10px;
  cursor: pointer;
  background: #424242;
  color: white;
  border: none;
}

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #424242;
  color: white;
}

#bottom-sidebar-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  padding: 10px;
}