#sidebar {
  display: flex;
  flex-direction: row;
}

#sidebar-internal {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20vw;
  background-color: #424242;
  color: white;
  font-family: roboto;
}

#sidebar-internal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#sidebar-logo {
  width: 40px;
  height: 40px;
}

#sidebar-title {
  margin-left: 10px;
  font-size: 24px;
}

#sidebar-internal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#sidebar-internal-view-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 60px;
  font-size: 16px;
}

#sidebar-internal-footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 60px;
  font-size: 16px;
}

#sidebar-external {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #424242;
  color: white;
}

#sidebar-toggle {
  padding: 10px;
  cursor: pointer;
  background: #424242;
  color: white;
  border: none;
}

#bottom-sidebar-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  padding: 10px;
}